.header {
height: 50px;
font-size: x-large;   
font-weight: bold;
background-image: linear-gradient(to right, rgb(184, 184, 241),  rgba(60, 60, 214), rgba(0, 2, 68, 1));

color: white;
}

#search {
    height: 200px;
   
}

#current-city {
    height: 200px;
    background-color: red;
}

#search-history {
    border-top: gray 2px solid;
    
}