.header {
height: 50px;
font-size: x-large;   
font-weight: bolder;
text-align: center;
background-image: linear-gradient(to right, rgb(184, 184, 241),  rgba(60, 60, 214), rgba(0, 2, 68, 1));

color: white;
}

#search {
    height: 200px;
   
}

#city-details {
  height: 300px;
  border: gray solid 1px;
}

#search-history {
    
    border-top: gray 2px solid;
    
}

#forecast {
    margin-top: 50px;
}

.searchBtn {
    background-color: rgb(62, 152, 236);
    color: white;
    margin-top: 10px;
}

.historyBtn {
    padding: 10px;
   display: block;
   width: 100%;
   border-radius: 5px;
   margin: 10px;
   background-color: lightgray;
}